/*
TODO: 
*/

:root {
	--bg-color:		#000000;
	--button-color: #FFCE1E;
	--hover-color: 	#FC8408;
	--text-color: 	#FFFFFF;
	--blue-jeans:	#011E54;
}
.cv-heading { 
	/* font-family: 'Kumbh Sans', sans-serif; */
	background-color: #ffc107; /* #0264b5; */
	font-weight: bold;
	color: #000000;
	padding: 3px;
	margin-top: 10px;
}
.cv-p { 
    background: var(--blue-jeans);
}
.cv-date { 
	/*color: #8cf4ff; */
}
.cv-name { 
	color: #8cf4ff; 
}

.cv-logo { 
	vertical-align: middle; 
}



/* setting the dimensions */
progress {
width: 275px;
height: 16px;
display: block;
/* disable defaults */
-webkit-appearance: none;
border: none;
}
/*Styling the background of the progress bar */
progress::-webkit-progress-bar {
background: white;
border-radius: 45px;
padding: 2px;
box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}
/* Setting the appearance of the meter */
progress::-webkit-progress-value {
border-radius: 25px;
box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4); 
background-size: 250px 25px;
background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
transparent 75%, rgba(255, 255, 255, .15) 75%, rgba(255, 255, 255, .15) 75%,
transparent 75%, transparent); 