/*
TODO: 
*/
body {
	background-color: black !important;
}

:root {
	--bg-color:		#000000;
	--button-color: #FFCE1E;
	--hover-color: 	#FC8408;
	--text-color: 	#FFFFFF;
	--blue-jeans:	#011E54;

	--yellow:#FFCE1E;
	--light-yellow:#000000;
	--dark-yellow:#000000;
	--orange:#000000;
	--light-orange:#000000;
	--dark-orange:#000000;
	--blue:#000000;
	--light-blue:#000000;
	--dark-blue:#000000;
}
.cv-heading { 
	/* font-family: 'Kumbh Sans', sans-serif; */
	background-color: #ffc107; /* #0264b5; */
	font-weight: bold;
	color: #000000;
	padding: 3px;
	margin-top: 10px;
}
.cv-p { 
    background: var(--blue-jeans);
}
.cv-date { 
	/*color: #8cf4ff; */
}
.cv-name { 
	color: #8cf4ff; 
}

.cv-logo { 
	vertical-align: middle; 
}


.cv-img {
}


@media (min-width : 1200px) {
	.tm-carousel {
		position: absolute;
		left: 300px;
		top: 250px;
		z-index: 1;
	}
}

.selector {
	margin-top: -40px;
	margin-left: 50px;
}

body.en span[lang='fr'] {
	display:none;
}

body.fr span[lang='en'] {
	display:none;
}

.flag-img {
	height:33px;
	padding: 0px;
  	margin-top: -5px;
}

#radios {
  position: relative;
  background-color: var(--blue-jeans);
  z-index: 5;
  height: 26px;
}
input {
  display: none;
}
#bckgrnd, .labels {
  width: 50px;
  height: 25px;
  text-align: center;
  display: inline-block;
  margin-right: -3px;
  cursor: pointer;
}
#bckgrnd {
  position: absolute;
  left: 0;
  top: 0;
}
input:checked ~ #bckgrnd {
  outline: 1px solid var(--button-color);
  transition: transform 0.5s ease-in-out;
}

#rad1:checked ~ #bckgrnd {
  transform: translateX(0);
}
#rad2:checked ~ #bckgrnd {
  transform: translateX(51px);
}
#rad3:checked ~ #bckgrnd {
  transform: translateX(102px);
}

.title {
  color: black;
  background-color: var(--yellow);
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 15px;
}